KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/gdtasm.o \
$(ARCHDIR)/idt/idt.o \
$(ARCHDIR)/idt/idtasm.o \
$(ARCHDIR)/drivers/io/io.o \
$(ARCHDIR)/drivers/keyboard/keyboard.o \
$(ARCHDIR)/drivers/keyboard/keyboard_handler.o \
$(ARCHDIR)/drivers/graphics/vga_text_mode/tty.o \
